@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Roboto',sans-serif;
    display: flex;
    margin: 0;
    align-items: center;
    height: 100vh;
    /* overflow: hidden; */
    flex-direction: column;
    justify-content: center;
}

canvas {
    border: 2px solid steelblue;
    
}

canvas.cursor-paint {
    cursor: url(cursor-paint.png), auto;
}

canvas.cursor-delete {
    cursor: url(Cursor-delete.png),auto;
}

.toolbox {
    background-color: steelblue;
    border: 1px solid slateblue;
    display: flex;
    width: 804px;
    padding: 1rem;
}

.toolbox > * {          /* To select everything inside toolbox div*/
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
    border-radius: 2px;
    width: 50px;
    margin: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
}

.toolbox > *:last-child {
    margin-left: auto;
}

#eraser{
    background-color: rgb(208, 20, 20);
    color: #fff;
    margin-left: 13%;
    /* padding: 10px 25px; */
    height: 50px;
    border-radius: 4px;
    width: 200px;
}

#eraser.active {
    background-color: rgb(37, 235, 37);
    color: #fff;
}